In [1]:
import pandas as pd
import seaborn as sns
# need to import your functions from a file to be picked up properly by multiprocessing
from my_functions import parallelize_dataframe, do_work

In [2]:
# get some data
df = pd.DataFrame(sns.load_dataset('iris'))
print(df.shape)
df.head()

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
# define what subsets we want to parallelize by (e.g. treat 'sepal' and 'petal' seperate).
my_col_subsets = [['sepal_length','sepal_width'],['petal_length','petal_width']]
df_out = parallelize_dataframe(df, do_work, col_subsets=my_col_subsets)

In [4]:
# df_out now has extra cols from the do_work() function.
print(df_out.shape)
df_out.head(5)

(150, 12)

,sepal_length,sepal_width,sepal_length_squared,sepal_length_sqrt,sepal_width_squared,sepal_width_sqrt,petal_length,petal_width,petal_length_squared,petal_length_sqrt,petal_width_squared,petal_width_sqrt
0,5.1,3.5,26.01,2.258318,12.25,1.870829,1.4,0.2,1.96,1.183216,0.04,0.447214
1,4.9,3.0,24.01,2.213594,9.00,1.732051,1.4,0.2,1.96,1.183216,0.04,0.447214
2,4.7,3.2,22.09,2.167948,10.24,1.788854,1.3,0.2,1.69,1.140175,0.04,0.447214
3,4.6,3.1,21.16,2.144761,9.61,1.760682,1.5,0.2,2.25,1.224745,0.04,0.447214
4,5.0,3.6,25.00,2.236068,12.96,1.897367,1.4,0.2,1.96,1.183216,0.04,0.447214